<footer class="main">
  <div class="content">
    <div class="row">
      <aside>
        <h5 class="widget-title">Szolgáltatások</h5>
        <p>Információk csomagjaimról</p>
      </aside>
      <aside>
        <h5 class="widget-title">Rólam</h5>
        <p>Ismerj meg</p>
      </aside>
      <aside>
      <h5 class="widget-title">Közösségi</h5>
      <p>Aside</p>
      </aside>
    </div><!-- .row -->
    <div class="copyright">
      © Copyright {{actualYear}} {{siteName}}
    </div>
  </div><!-- div.content -->
</footer><!-- footer.main -->