{{#if centering}}
<footer class="outer">
  <div class="middle">
    <div class="inner">
{{/if}}
      <div class="footer-container">
        © {{actualYear}} {{siteName}}
      </div>
{{#if centering}}
    </div><!-- div.inner -->
  </div><!-- div.middle -->
</footer><!-- footer.outer -->
{{/if}}
