<footer class="main">
  <div class="content">
    <div class="row">
      <aside>
        <h5 class="widget-title">
          <img src="/images/floral-art-003.png" class="widget-title-img">
          Szolgáltatások
        </h5>
        <p><a href="/information">Információk &#38; csomagok</a></p>
      </aside>
      <aside>
        <h5 class="widget-title">
          <img src="/images/floral-art-002.png" class="widget-title-img">
          Rólam
        </h5>
        <p><a href="/about-me">Ismerj meg</a></p>
      </aside>
      <aside>
        <h5 class="widget-title">
          <img src="/images/floral-art-001.png" class="widget-title-img">
          Közösségi
        </h5>
        <div class="social-links">
          <a href="https://www.facebook.com/LantosIstvanPhotography" class="facebook"><i class="icon-facebook"></i></a>
          <a href="https://www.instagram.com/lantosistvan" class="instagram"><i class="icon-instagram"></i></a>
          <a href="https://pinterest.com/lantosistvan" class="pinterest"><i class="icon-pinterest"></i></a>
          <a href="https://vimeo.com/lantosistvan" class="vimeo"><i class="icon-vimeo"></i></a>
        </div><!-- div.social-links -->
      </aside>
    </div><!-- .row -->
    <p class="copyright">
      Copyright &#169; {{actualYear}} {{siteName}} | Based in Jakabcity, BK
      <br />
      Proudly powered by <a href="https://nodejs.org">Node.js</a> &#38; <a href="http://expressjs.com">Express</a> &#9774; &#9825;
    </p>
  </div><!-- div.content -->
</footer><!-- footer.main -->