<footer class="main">
  <div class="content">
    <div class="row">
      row
    </div><!-- .row -->
    <div class="copyright">
      © Copyright {{actualYear}} {{siteName}}
    </div>
  </div><!-- div.content -->
</footer><!-- footer.main -->