<div class="lang-selector">
  <a href="/en">English</a><span class="pipe">|</span><a href="/hu">Hungarian</a>
</div>

<header class="header-site">
  <div class="content">
    <div class="logo logo-header">
      <a href="{{language}}/"><img class="logo-svg" src="/images/lantosistvan-logo-20160426-hollyhock-sharper-003.png" alt="{{siteName}}" /></a>
    </div>
    {{>nav}}
  </div><!-- div.content -->
</header><!-- header.main -->
