<header class="main">
  <div class="content">
    <!--<div class="logo">-->
      <!--<a href="/"><img class="logo-svg" src="/images/lantosistvan-logo-fountain-pen-5.svg" alt="{{siteName}}" /></a>-->
      <!--<a href="/"><img class="logo-svg" src="/images/42362-O3GR1G-work.svg" alt="{{siteName}}" /></a>-->
    <!--</div>-->
    {{>nav}}
  </div><!-- div.content -->
</header><!-- header.main -->
