{{#if centering}}
<header class="outer">
  <div class="middle">
    <div class="inner">
{{/if}}
      <div class="logo block"><div class="centered"><a href="/"><img src="/images/lantosistvan-logo-floral-art.png" alt="{{siteName}}" /></a></div></div>
      {{>nav}}
{{#if centering}}
    </div><!-- div.inner -->
  </div><!-- div.middle -->
</header><!-- header.outer -->
{{/if}}
