<div class="toggle-mobile-nav">
  <a href="#" class="menu">Menu <span>≡</span></a>
</div>

<div class="navigation">
  <nav class="main-nav">
    <ul>
      <li><a href="/">Portfolio</a>
        <ul>
          <li><a href="/">Esküvők</a></li>
          <li><a href="/families">Család</a></li>
        </ul>
      </li>
      <li><a href="/stories">Történetek</a>
      <ul>
        <li><a href="/blog/szalai-family">Szalai család</a></li>
        <li><a href="#">Barbi &#38; balázs</a></li>
      </ul>
      </li>
      <li><a href="/blog">Blog</a>
        <ul>
          <li><a href="/blog">Összes</a></li>
          <li><a href="/category/wedding">Esküvő</a></li>
          <li><a href="/category/family">Család</a></li>
          <li><a href="/category/family">Fotósoknak</a></li>
        </ul>
      </li>
      {{#if blogNavCat}}
      <!--<li><a href="#">Kategóriák</a>
        <ul>
          <li><a href="/category/wedding">Esküvő</a></li>
          <li><a href="/category/family">Család</a></li>
          <li><a href="/category/family">Fotósoknak</a></li>
        </ul>
      </li>-->
      {{/if}}
      <li><a href="/information">Szolgáltatások</a></li>
      <li><a href="/about-me">Rólam</a></li>
    </ul>
  </nav><!-- nav.main-nav  -->
</div><!-- div.navigation -->
