<main class="contact">

  <article>
    {{{__ data.body}}}
  </article>

  <form action="" method="post">

    <label for="name">Teljes név*</label><br />
    <input type="text" name="name" value="" aria-describedby="name-format" required><br />
    <span id="name-format" class="help">Formátum: Vezetéknév Keresztnév</span>

    <label for="email">Email*</label><br />
    <input type="email" name="email" required><br />

    <label for="subject">Tárgy</label><br />
    <input type="text" name="subject"><br />

    <label for="message">Üzenet*</label><br />
    <input type="text" name="message" required><br /><br />

    <label for="captcha">Mennyi 1 + 1, betűkkel?*</label><br />
    <input type="text" name="captcha" required><br />

    <input type="submit" value="Submit"><br /><br />
    * kötelező mezők

  </form>

</main><!-- main.contact -->
