<main class="contact">

  <article>
    {{{__ data.body}}}
  </article>

  <form action="" method="post">

    <label for="name">Teljes név*</label><br />
    <input type="text" id="name" name="name" value="" aria-describedby="name-format" required aria-required="true" pattern="\D+" title="Vezetéknév Keresztnév"><br /><!-- Pattern: Only contain letters and a space - pattern="[A-Za-z-0-9]+\s[A-Za-z-'0-9]+" -->
    <span id="name-format" class="help">Formátum: Vezetéknév Keresztnév</span>

    <label for="email">Email*</label><br />
    <input type="email" id="email" name="email" required aria-required="true"><br />

    <label for="subject">Tárgy</label><br />
    <input type="text" id="subject" name="subject"><br />

    <label for="message">Üzenet*</label><br />
    <input type="text" id="message" name="message" required aria-required="true"><br /><br />

    <label for="captcha">Mennyi 1 + 1, betűkkel?*</label><br />
    <input type="text" id="captcha" name="captcha" required aria-required="true"><br />

    <input type="submit" value="Submit"><br /><br />
    * kötelező mezők

  </form>

</main><!-- main.contact -->
