<main class="contact">

  <article>
    {{{__ data.body}}}
  </article>

  <form action="{{language}}/sent" method="post">
    Name:<br />
    <input type="text" name="name"><br />
    Email:<br />
    <input type="email" name="email"><br />
    Subject:<br />
    <input type="text" name="subject"><br />
    Message:<br />
    <input type="text" name="html"><br />
    <input type="submit" value="Submit">
  </form> 

</main><!-- main.contact -->