<main class="contact">

  <article>
    {{{__ data.body}}}
  </article>

  <form action="" method="post">
    Név:<br />
    <input type="text" name="name"><br />
    Email:<br />
    <input type="email" name="email"><br />
    Tárgy:<br />
    <input type="text" name="subject"><br />
    Üzenet:<br />
    <input type="text" name="message"><br /><br />
    Captcha: Mennyi 1 + 1, betűkkel?<br />
    <input type="text" name="captcha"><br />
    <input type="submit" value="Submit">
  </form> 

</main><!-- main.contact -->