<div class="main portfolio lazyload">
  <div class="content sidescroll">
    <ul class="images">
      {{#each data.images}}
      <li><img src="{{../data.imagesFolder}}{{this}}" alt="{{../siteName}}"></li>
      {{else}}
      <p class="empty">No content</p>
      {{/each}}
      <!-- access to parent's property with "../" -->
    </ul><!-- ul.images -->
  </div><!-- div.content.sidescroll -->
</div><!-- div.main.portfolio -->

<main class="frontpage">

  <article class="welcome">
    <header class="article welcome">
      <h1 class="widget-title">Üdvözlet</h1>
    </header><!-- header.article.welcome -->
    <div class="article content">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
      <br />aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
      <br />nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
      <br />
      <br />Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
    </div><!-- div.article.content -->
  </article><!-- article.welcome -->
  
</main><!-- main -->