<div class="main portfolio lazyload">
  <div class="content sidescroll">
    <ul class="images">
      {{#each data.images}}
      <li><img src="{{../data.imagesFolder}}{{this}}" alt="{{../siteName}}"></li>
      {{else}}
      <p class="empty">No content</p>
      {{/each}}
      <!-- access to parent's property with "../" -->
    </ul><!-- ul.images -->
  </div><!-- div.content.sidescroll -->
</div><!-- div.main.portfolio -->

<main class="frontpage">

  <article class="welcome">
    <header class="article welcome">
      <h1 class="widget-title">Üdvözlet</h1>
    </header><!-- header.article.welcome -->
    <div class="article content">
      <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
      <br />aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
      <br />nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
      <br />
      <br />Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>-->
      <p>Sziasztok! Ha épp van egy szabad szombatom, akkor egy vitorlázógép botkormányából csavarok vizet egy termikben. Ekkor a Nap helyzetén túl a széliránnyal is kalkulálnom kell. Ha két lábbal a földön állok, akkor szeretek a Nappal szembe fotózni, amikor pedig tesztelem a tériszonyom, akkor a napos oldalra helyezkedni és hátszéllel siklani. :)</p>
      <p>Esküvőfotósként a dokumentarista stílust vallom magaménak. Imádom elkapni a pillanatot, amikor a dolgok egész egyszerűen csak történnek a szemem előtt.</p>
      <p>A fotográfián kívül érdekel a webdizájn, paleo, vitorlázórepülés, biogazdálkodás, cinematográfia, utazás, fa megmunkálás, diy, vizuális inspirálódás és a filmek. Ha ezek közül bármi klappolna veletek, akkor van még egy ok felkeresni. :)</p>
      <p>Említettem már, hogy szeretek utazni? Ha netán jegyes fotózásra vagy esküvő helyszínre egy egyedi ötletetek van -&#62; elmegyek akárhova! &#128642; &#9786;</p>
      <p>Ha nektek is tériszonyotok van, akkor keressetek meg az <a href="/info">Info</a> menüpont alatti elérhetőségeken.</p>
    </div><!-- div.article.content -->
  </article><!-- article.welcome -->
  
</main><!-- main -->