<!doctype html>
<html class="lang-{{langClass}}" lang="{{langClass}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if titleShown %}{{ title }} | {% endif %}{{ siteName }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="author" content="info@lantosistvan.com">
  <meta name="generator" content="Static pages built on Node.js, Express.js, Handlebars by Istvan Lantos">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/stylesheets/style.min.css">
  {% if ENV_DEVELOPMENT %}
    <script src="http://localhost:35729/livereload.js"></script>
  {% endif %}
</head>
<body class="{% block bodyClass %}{% endblock %}">
<!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% include '../partials/header.njk' %}

<div class="container">

{% block content %}{% endblock %}

</div><!-- div.container -->

{% include '../partials/footer.njk' %}

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/src/main-vanilla.js"></script>
<!--<script src="/javascripts/src/ajax-vanilla.js"></script>-->
<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/slick.min.js"></script>
<script src="/javascripts/main-jquery.min.js"></script>

<!-- Google Analytics - Async code for modern browsers (IE10+) -->
<!-- https://developers.google.com/analytics/devguides/collection/analyticsjs/ -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-22836119-1', 'auto');
ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

<!-- Start of StatCounter Code for Default Guide - Async code for modern browsers (IE10+) -->
<!-- https://statcounter.com/support/knowledge-base/281 -->
<script type='text/javascript'>
var sc_project=6812517;
var sc_invisible=1;
var sc_security="890a43cd";
var sc_https=1;
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' async src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class='statcounter'><a class='statcounter' href='http://statcounter.com/free-web-stats/' title='web stats'><img alt='web stats' class='statcounter' src='http://c.statcounter.com/6812517/0/890a43cd/1/'/></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

<!--<script src="//localhost:35729/livereload.js"></script>-->

</body>
</html>
