/* SLIDER:
http://kenwheeler.github.io/slick/
https://github.com/kenwheeler/slick
 */

*:hover { 
  -webkit-box-shadow: inset 0 0 0 1px #f00;
  -moz-box-shadow: inset 0 0 0 1px #f00;
  box-shadow: inset 0 0 0 1px #f00;
}

/*nav { background-color: #979; }

header.outer, .horizontal header  { background-color: #f48; }
footer.outer, .horizontal footer  { background-color: #f48; }
header .middle, .horizontal header .content { background-color: blue; }
footer .middle, .horizontal footer .content { background-color: purple; }
header .inner  { background-color: yellow; }
footer .inner, .copyright  { background-color: yellow; }
header.article, footer.article { background-color: yellow; }

.tags { background-color: #b35; }

p { background-color: green; }

.navigation { background-color: brown; }

body.blog{ background-color: #b48; }

@media (max-width: 900px) {
  body { background-color: green; }
}
@media (max-width: 400px) {
  body { background-color: red; }
}*/
