footer {
  /*-webkit-flex: 0 0 20vh; flex: 0 0 20vh;*/
  /*height: 20vh;*/
  display: -webkit-flex; display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
footer .content {
  -webkit-flex: 0 0 58vw; flex: 0 0 58vw;
  /*width: 50vw;*/
  max-width: 1100px;
  /*height: auto;*/
  display: -webkit-flex; display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .row {
  width: 100%;
  margin: 40px 0 0 0;
  padding: 40px 0 40px 0;
  border-top: 1px solid #e9e9e9;
  /*border-bottom: 1px solid #e9e9e9;*/
  display: -webkit-flex; display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
footer aside { width: 100%; text-align: center; padding: 35px 0 35px 0; }
footer aside:nth-child(2) { border-left: 1px dotted #e9e9e9; border-right: 1px dotted #e9e9e9; }
footer aside a { font-family: 'im-fell-french-canon-pro-italic', Georgia, serif; /*font-size: 13px;*/ font-size: 0.93em; }
footer aside p { margin-bottom: 0; text-transform: lowercase; }

footer .social-links a { margin-right: 20px; font-size: 0.8em;
                         /*color: #6b6b6b;*/
                         color: #727272; }
footer .social-links a:last-child { margin-right: 0; }

/* Social Icons styling */
[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  /* font-size: 120%; */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  font-size: 90%;
}
.icon-facebook:before { content: '\e81f'; }
.icon-instagram:before { content: '\e821'; }
.icon-pinterest:before { content: '\e802'; }
.icon-vimeo:before { content: '\e809'; }

/* http://www.alt-codes.net/miscellaneous-symbols
http://www.fileformat.info/info/unicode/char/1f682/index.htm */
.site-copyright {
  padding: 45px 0 45px 0;
  margin-bottom: 0;
  border-top: 1px solid #e9e9e9;
  width: 100%;
  text-align: center;
  /*font-family: 'LatoLatin-Regular', Georgia, 'Times New Roman', Times, serif;*/
  /**/
  /*font-family: 'LatoLatin-Light', 'LatoLatin-Regular', Georgia, 'Times New Roman', Times, serif;*/
  /*text-transform: uppercase;*/
  /*font-size: 0.5em;
  color: #494949;
  line-height: 1.5em;*/
  /**/
  color: #606060;
  font-size: 0.69em; /* 11px */
  font-family: 'Trebuchet MS', Tahoma, Helvetica, sans-serif;
  line-height: 1.75em;
  /**/
  font-family: 'LatoLatin-Regular', 'Trebuchet MS', Tahoma, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1px;
  color: #494949;
  color: rgba(0,0,0,0.71);
}
.site-copyright a {
  /*font-family: 'LatoLatin-Regular', Georgia, 'Times New Roman', Times, serif;*/
  /**/
  /*font-family: 'Trebuchet MS', Tahoma, Helvetica, sans-serif;*/
  /*color: #508fa0;*/
}
/*.site-copyright a:hover { color: #529aa5; }*/
