header {
  -webkit-flex: 0 0 20vh; flex: 0 0 20vh; /*height: 20vh;*/
  display: -webkit-flex; display: flex;
  -webkit-flex-direction: row; flex-direction: row;
  -webkit-align-items: flex-end; align-items: flex-end;
  -webkit-justify-content: center; justify-content: center;
  z-index: 999;
  /**/
  /*-webkit-align-items: center; align-items: center;*/
  -webkit-flex: 0 0 auto; flex: 0 0 auto;
}
.little-screen {
  -webkit-flex: 0 0 auto; flex: 0 0 auto;
}
header .content {
  -webkit-flex: 0 0 50vw; flex: 0 0 50vw; /*width: 50vw;*/
  /*height: auto;*/
  display: -webkit-flex; display: flex;
  -webkit-flex-direction: column; flex-direction: column;
  -webkit-align-items: center; align-items: center;
  /*-webkit-justify-content: space-between; justify-content: space-between;*/
}
