.lang-selector {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  margin: 10px 10px 0 0;

  /*font-family: 'LatoLatin-Regular', 'Trebuchet MS', Tahoma, Helvetica, sans-serif;*/
  /*font-family: 'Trebuchet MS', Tahoma, Helvetica, sans-serif;*/
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  /*text-transform: uppercase;*/
  font-size: 9px;
  letter-spacing: 1px;
  color: #494949;
  color: rgba(0,0,0,0.71);
  /**/
  /*font-family: Georgia, TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;*/
}
/*.lang-selector a { color: #3f3f3f; }*/

/* Logo INSIDE nav */
/*.left-nav { margin-left: -32px; } /* hu = 120px */
/*.lang-hu-HU .left-nav { margin-left: -15px; } /* en = 120px */
/*.lang-en-EN .left-nav { margin-left: -28px; } /* en = 120px */
