.lang-selector
  position: absolute
  top: 0
  right: 0
  z-index: 9999
  margin: 10px 10px 0 0
  font-family: $TrebuchetMS
  //text-transform: uppercase
  font-size: 9px
  letter-spacing: 1px
  color: #494949
  color: rgba(0,0,0,0.71)
