/* Logo INSIDE nav */
/*.left-nav { margin-left: -32px; } /* hu = 120px */
/*.lang-hu-HU .left-nav { margin-left: -15px; } /* en = 120px */
/*.lang-en-EN .left-nav { margin-left: -28px; } /* en = 120px */
