.navigation
  displayFlex()
  flex-direction: row
  align-items: center
  justify-content: center
  font-family: $TrebuchetMS
  letter-spacing: 2px
  font-size: 12px
.nav
  //margin-bottom: 40px
  ul
    displayFlex()
    flex-direction: row
    align-items: center
    li
      margin: 0 20px 0 20px;
      a
        display: block
        text-align: center
        padding: 5px 0 5px 0
        color: #727272
        &:hover
          text-decoration: underline
          color: #000
      ul
        flex-direction: column
        visibility: hidden
        opacity: 0
        position: absolute
        margin-left: -10px
        padding: 0
        z-index: 9999
        //background-color: #fff
        //-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05); box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05)
        background-color: #f9f9f9
        li
          margin: 0
          width: 100%
          a
            text-align: left
            padding: 0
            margin: 10px 20px 10px 20px
          &:first-child
            margin-top: 5px
          &:last-child
            margin-bottom: 3px
      &:hover > ul
        visibility: visible
        opacity: 1
      &.active > a
        //color: #575757;
        //border-bottom: 3px solid #eff0f0;
        //margin-bottom: -3px;
      &.parent > a
        margin-right: 10px
      &.parent > a::after
        //display: inline-block
        display: block
        float: right
        //content: ' \27E9'
        //content: ' \276D'
        //content: ' \29FD'
        content: ' \276F'
        color: #000
        transform: rotate(90deg) translateX(2px) translateY(-10px)

@media (min-width: 1600px)
  .logo-header
    display: block // Logo TOP OF nav
  .logo-nav
    display: none // Logo INSIDE nav
  .toggle-mobile-nav
    display: none
  .navigation
    margin-bottom: 60px // Logo TOP OF nav
  .nav
    &.active
      display: none

@media (max-width: 1600px)
  .logo
    margin: 30px
  .logo-nav
    display: none
  .nav-left,
  .lang-en-EN .nav-left
    margin-left: 0
  .nav-left
    margin-top: 10px
    margin-bottom: 0
  .nav-right
    margin-bottom: 30px
  .toggle-mobile-nav
    margin-bottom: 10px
    .menu-button
      font-family: 'TrajanPro-Bold', $Georgia
      color: #000
      text-decoration: none
      text-transform: uppercase
      font-size: 1em
      &:hover
        cursor: pointer
      span
        font-size: 2em
        vertical-align: -0.15em
  .navigation
    flex-direction: column;
    font-family: $Georgia;
    font-size: 0.78em;
    letter-spacing: 0.15em;
    color: #000;
  .nav
    display: none;
    &.active
      display: block
