/*.sidescroll {
  margin: 0 20px 0 20px;
}*/

.sidescroll .images {
  display: -webkit-flex; display: flex;
  flex-direction(row);
  //justify-content: center;
  //flex-wrap(no-wrap);
  //position: relative;
  overflow-x: hidden;
}

.sidescroll .images li {
  //margin-right: 3px;
  margin-right: 2px;
  //background-color: rgb(17, 17, 17);
  background-color: #c3c3c3;
}

.sidescroll .images li:last-child {
  margin-right: 0;
}

.sidescroll .images img {
  height: 60vh;
}
