<div class="lang-selector">
  <a href="/">English</a><span class="pipe">|</span><a href="/hu">Hungarian</a>
</div>

<header class="header-site">
  <div class="content">
    <div class="logo logo-header">
      <a href="{{ language }}/"><img class="logo-svg" src="/images/lantosistvan-logo.png" srcset="/images/lantosistvan-logo@2x.png 2x, /images/lantosistvan-logo@3x.png 3x" alt="{{ siteName }}" /></a>
    </div>
    {% include './nav.njk' %}
  </div><!-- div.content -->
</header><!-- header.main -->
