// Turns off Subpixel font rendering in Chrome with Slick Slider!!!
.container
  displayFlex()
  flex-direction: column
  //align-items: center // Centering hack for blog, but needs to turn on slick slider

.error,
.blog,
.contact
  displayFlex()
  flex-direction: column
  align-items: center

.pipe
  padding: 0 3px 0 3px
