/* Fontello.com */
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?35495050');
  src: url('../fonts/fontello/fontello.eot?35495050#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff?35495050') format('woff'),
       url('../fonts/fontello/fontello.ttf?35495050') format('truetype'),
       url('../fonts/fontello//fontello.svg?35495050#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Trajan Pro */
@font-face {
  font-family: 'TrajanPro-Regular';
  src: url('../fonts/trajan-pro/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/trajan-pro/TrajanPro-Regular.otf') format('opentype'),
       url('../fonts/trajan-pro/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg'),
       url('../fonts/trajan-pro/TrajanPro-Regular.woff') format('woff'),
       url('../fonts/trajan-pro/TrajanPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TrajanPro-Bold';
  src: url('../fonts/trajan-pro/TrajanPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/trajan-pro/TrajanPro-Bold.ttf') format('truetype'),
       url('../fonts/trajan-pro/TrajanPro-Bold.svg#TrajanPro-Bold') format('svg'),
       url('../fonts/trajan-pro/TrajanPro-Bold.otf') format('opentype'),
       url('../fonts/trajan-pro/TrajanPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* IM FELL French Canon PRO */
@font-face {
  font-family: 'im-fell-french-canon-pro-regular';
  src: url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Roman.svg#IM_FELL_French_Canon_PRO_Roman') format('svg'),
       url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Roman.otf') format('opentype'),
       url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Roman.woff') format('woff'),
       url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'im-fell-french-canon-pro-italic';
  src: url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Italic.svg#IM_FELL_French_Canon_PRO_Italic') format('svg'),
       url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Italic.otf') format('opentype'),
       url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Italic.woff') format('woff'),
       url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Montserrat */
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/montserrat/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff'),
       url('../fonts/montserrat/montserrat-regular-webfont.ttf') format('truetype'),
       url('../fonts/montserrat/montserrat-regular-webfont.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Lato */
@font-face {
  font-family: 'LatoLatin-Hairline';
  src: url('../fonts/lato-latin/LatoLatin-Hairline.eot');
  src: url('../fonts/lato-latin/LatoLatin-Hairline.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-latin/LatoLatin-Hairline.woff2') format('woff2'),
       url('../fonts/lato-latin/LatoLatin-Hairline.woff') format('woff'),
       url('../fonts/lato-latin/LatoLatin-Hairline.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'LatoLatin-Light';
  src: url('../fonts/lato-latin/LatoLatin-Light.eot');
  src: url('../fonts/lato-latin/LatoLatin-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-latin/LatoLatin-Light.woff2') format('woff2'),
       url('../fonts/lato-latin/LatoLatin-Light.woff') format('woff'),
       url('../fonts/lato-latin/LatoLatin-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'LatoLatin-Regular';
  src: url('../fonts/lato-latin/LatoLatin-Regular.eot');
  src: url('../fonts/lato-latin/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-latin/LatoLatin-Regular.woff2') format('woff2'),
       url('../fonts/lato-latin/LatoLatin-Regular.woff') format('woff'),
       url('../fonts/lato-latin/LatoLatin-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'LatoLatin-Black';
  src: url('../fonts/lato-latin/LatoLatin-Black.eot');
  src: url('../fonts/lato-latin/LatoLatin-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato-latin/LatoLatin-Black.woff2') format('woff2'),
       url('../fonts/lato-latin/LatoLatin-Black.woff') format('woff'),
       url('../fonts/lato-latin/LatoLatin-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
/* Crimson Text */
@font-face {
  font-family: 'Crimson-Text-Roman';
  src: url('../fonts/crimson-text/crimsontext-roman-webfont.eot');
  src: url('../fonts/crimson-text/crimsontext-roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/crimson-text/crimsontext-roman-webfont.woff2') format('woff2'),
       url('../fonts/crimson-text/crimsontext-roman-webfont.woff') format('woff'),
       url('../fonts/crimson-text/crimsontext-roman-webfont.ttf') format('truetype'),
       url('../fonts/crimson-text/crimsontext-roman-webfont.svg#Crimson-Text-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Crimson-Text-Italic';
  src: url('../fonts/crimson-text/crimsontext-italic-webfont.eot');
  src: url('../fonts/crimson-text/crimsontext-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/crimson-text/crimsontext-italic-webfont.woff2') format('woff2'),
       url('../fonts/crimson-text/crimsontext-italic-webfont.woff') format('woff'),
       url('../fonts/crimson-text/crimsontext-italic-webfont.ttf') format('truetype'),
       url('../fonts/crimson-text/crimsontext-italic-webfont.svg#Crimson-Text-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Crimson-Text-Bold';
  src: url('../fonts/crimson-text/crimsontext-bold-webfont.eot');
  src: url('../fonts/crimson-text/crimsontext-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/crimson-text/crimsontext-bold-webfont.woff2') format('woff2'),
       url('../fonts/crimson-text/crimsontext-bold-webfont.woff') format('woff'),
       url('../fonts/crimson-text/crimsontext-bold-webfont.ttf') format('truetype'),
       url('../fonts/crimson-text/crimsontext-bold-webfont.svg#Crimson-Text-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Garamond */
@font-face {
  font-family: 'Garamond-Regular';
  src: url('../fonts/garamond/garamond-regular-webfont.eot');
  src: url('../fonts/garamond/garamond-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/garamond/garamond-regular-webfont.woff2') format('woff2'),
       url('../fonts/garamond/garamond-regular-webfont.woff') format('woff'),
       url('../fonts/garamond/garamond-regular-webfont.ttf') format('truetype'),
       url('../fonts/garamond/garamond-regular-webfont.svg#Garamond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Caslon Pro */
@font-face {
  font-family: 'Caslon-Pro-Italic';
  src: url('../fonts/caslon-pro/caslon-pro-italic-webfont.eot');
  src: url('../fonts/caslon-pro/caslon-pro-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/caslon-pro/caslon-pro-italic-webfont.woff2') format('woff2'),
       url('../fonts/caslon-pro/caslon-pro-italic-webfont.woff') format('woff'),
       url('../fonts/caslon-pro/caslon-pro-italic-webfont.ttf') format('truetype'),
       url('../fonts/caslon-pro/caslon-pro-italic-webfont.svg#Caslon-Pro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Raleway */
@font-face {
  font-family: 'Raleway-Light';
  src: url('../fonts/raleway/raleway-light-webfont.eot');
  src: url('../fonts/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
       url('../fonts/raleway/raleway-light-webfont.woff') format('woff'),
       url('../fonts/raleway/raleway-light-webfont.ttf') format('truetype'),
       url('../fonts/raleway/raleway-light-webfont.svg#Raleway-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Quicksand Pro */
@font-face {
  font-family: 'QuicksandPro-Light';
  src: url('../fonts/quicksand-pro/subset-QuicksandPro-Light.eot');
  src: url('../fonts/quicksand-pro/subset-QuicksandPro-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/quicksand-pro/subset-QuicksandPro-Light.woff2') format('woff2'),
       url('../fonts/quicksand-pro/subset-QuicksandPro-Light.woff') format('woff'),
       url('../fonts/quicksand-pro/subset-QuicksandPro-Light.ttf') format('truetype'),
       url('../fonts/quicksand-pro/subset-QuicksandPro-Light.svg#QuicksandPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuicksandPro-Regular';
  src: url('../fonts/quicksand-pro/subset-QuicksandPro-Regular.eot');
  src: url('../fonts/quicksand-pro/subset-QuicksandPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/quicksand-pro/subset-QuicksandPro-Regular.woff2') format('woff2'),
       url('../fonts/quicksand-pro/subset-QuicksandPro-Regular.woff') format('woff'),
       url('../fonts/quicksand-pro/subset-QuicksandPro-Regular.ttf') format('truetype'),
       url('../fonts/quicksand-pro/subset-QuicksandPro-Regular.svg#QuicksandPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Salt & Spices Pro Small Caps Serif */
@font-face {
  font-family: 'salt-and-spices-pro-scserif';
  src: url('../fonts/salt-and-spices-pro-scserif-webfont/salt-and-spices-pro-scserif-webfont.eot');
  src: url('../fonts/salt-and-spices-pro-scserif-webfont/salt-and-spices-pro-scserif-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/salt-and-spices-pro-scserif-webfont/salt-and-spices-pro-scserif-webfont.woff2') format('woff2'),
       url('../fonts/salt-and-spices-pro-scserif-webfont/salt-and-spices-pro-scserif-webfont.woff') format('woff'),
       url('../fonts/salt-and-spices-pro-scserif-webfont/salt-and-spices-pro-scserif-webfont.ttf') format('truetype'),
       url('../fonts/salt-and-spices-pro-scserif-webfont/salt-and-spices-pro-scserif-webfont.svg#salt-and-spices-pro-scserif') format('svg');
  font-weight: normal;
  font-style: normal;
}





@font-face {
  font-family: 'Serlio-LH-regular';
  src: url('../fonts/serliolh-webfont.eot');
  src: url('../fonts/serliolh-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/serliolh-webfont.woff2') format('woff2'),
       url('../fonts/serliolh-webfont.woff') format('woff'),
       url('../fonts/serliolh-webfont.ttf') format('truetype'),
       url('../fonts/serliolh-webfont.svg#Serlio-LH-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometric231BT-LightC-regular';
  src: url('../fonts/geometric231bt-lightc-webfont.eot');
  src: url('../fonts/geometric231bt-lightc-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/geometric231bt-lightc-webfont.woff2') format('woff2'),
       url('../fonts/geometric231bt-lightc-webfont.woff') format('woff'),
       url('../fonts/geometric231bt-lightc-webfont.ttf') format('truetype'),
       url('../fonts/geometric231bt-lightc-webfont.svg#Geometric231BT-LightC-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monotype-Corsiva';
  src: url('../fonts/monotype-corsiva.eot');
  src: url('../fonts/monotype-corsiva.eot?#iefix') format('embedded-opentype'),
       url('../fonts/monotype-corsiva.woff') format('woff'),
       url('../fonts/monotype-corsiva.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
