/* Fontello.com - fontello.svg?35495050#fontello */
webfont('fontello', 'fontello', 'fontello', true, normal, normal)

/* Trajan Pro */
webfont('TrajanPro-Regular', 'trajan-pro', 'trajan-pro-regular-webfont', true, normal, normal)
webfont('TrajanPro-Bold', 'trajan-pro', 'trajan-pro-bold-webfont', true, normal, normal)

/* IM FELL French Canon PRO */
webfont('im-fell-french-canon-pro-regular', 'im-fell-french-canon-pro', 'im-fell-french-canon-pro-roman-webfont', true, normal, normal)
webfont('im-fell-french-canon-pro-italic', 'im-fell-french-canon-pro', 'im-fell-french-canon-pro-italic-webfont', true, normal, normal)

/* Montserrat */
webfont('Montserrat-Regular', 'montserrat', 'montserrat-regular-webfont', true, normal, normal)

/* Lato */
webfont('LatoLatin-Regular', 'lato-latin', 'lato-latin-regular-webfont', true, normal, normal)
webfont('LatoLatin-Light', 'lato-latin', 'lato-latin-light-webfont', true, normal, normal)

/* Crimson Text */
webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
webfont('Crimson-Text-Italic', 'crimson-text', 'crimsontext-italic-webfont', true, normal, normal)
webfont('Crimson-Text-Bold', 'crimson-text', 'crimsontext-bold-webfont', true, normal, normal)

/* Garamond */
webfont('Garamond-Regular', 'garamond', 'garamond-regular-webfont', true, normal, normal)

/* Caslon Pro */
webfont('Caslon-Pro-Italic', 'caslon-pro', 'caslon-pro-italic-webfont', true, normal, normal)

/* Raleway */
webfont('Raleway-Light', 'raleway', 'raleway-light-webfont', true, normal, normal)

/* Quicksand Pro */
webfont('QuicksandPro-Light', 'quicksand-pro', 'subset-QuicksandPro-Light', true, normal, normal)
webfont('QuicksandPro-Regular', 'quicksand-pro', 'subset-QuicksandPro-Regular', true, normal, normal)

/* Salt & Spices Pro Small Caps Serif */
webfont('salt-and-spices-pro-scserif', 'salt-and-spices-pro-scserif-webfont', 'salt-and-spices-pro-scserif-webfont', true, normal, normal)




/* Serlio LH */
webfont('Serlio-LH-regular', 'serlio-lh', 'serliolh-webfont', true, normal, normal)

/* Geometric 231BT */
webfont('Geometric231BT-LightC-regular', 'geometric231bt', 'geometric231bt-lightc-webfont', true, normal, normal)

/* Monotype Corsiva */
webfont('Monotype-Corsiva', 'monotype-corsiva', 'monotype-corsiva-webfont', true, normal, normal)
