_:-ms-fullscreen,
:root .logo {
  width: 390px;
}
_:-ms-fullscreen,
:root footer .content {
  box-sizing: border-box;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .latest-posts article .preview-image {
    max-width: 364px;
  }
}
.browserupgrade {
  display: block;
  position: absolute;
  z-index: 999999;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 50px 0 0 50px;
  background: #999;
  color: #000;
  font-size: 1.5em;
  text-align: center;
}
