@media (min-width: 1600px)
  /*.toggle-mobile-nav, .nav.active {
    display: none;
  }*/
  .logo-header {
    //display: none; /* Logo INSIDE nav */
    display: block; /* Logo TOP OF nav */
  }
  .logo-nav {
    display: none; /* Logo INSIDE nav */
  }
  //.navigation {
  //  margin-bottom: 60px; /* Logo TOP OF nav */
  //}




@media (max-width: 1600px)
  .nav-left, .lang-en-EN .nav-left { margin-left: 0; }
  .nav, .logo-nav { display: none; }
  //.nav.active { display: block; }

  .logo {
    margin: 30px 30px 30px 30px;
  }

  /* Mobile nav */
  .toggle-mobile-nav { margin-bottom: 10px; }
  .toggle-mobile-nav .menu-button {
    font-family: 'TrajanPro-Bold', $Georgia;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
  }
  .toggle-mobile-nav .menu-button:hover { cursor: pointer; }
  .toggle-mobile-nav .menu-button span { font-size: 2em; vertical-align: -0.15em; }

  .navigation {
    flex-direction: column;
    font-family: $Georgia;
    /*font-size: 0.75em;*/
    font-size: 0.78em;
    letter-spacing: 0.15em;
    color: #000;
  }
  .nav-left { margin-top: 10px; margin-bottom: 0; }
  .nav-right { margin-bottom: 30px; }
  .nav ul {
    flex-direction: column;
  }
  .nav ul li { margin: 0; }
  .nav ul li a {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .nav ul .parent > a { margin-right: 0; }
  .nav ul .parent > a::after {
    transform: rotate(90deg) translateX(-1px) translateY(15px);
  }
  .nav ul ul {
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    position: relative;
    margin-left: 0;
    padding: 0;
    box-shadow: none;
    transition: all 0s ease 0s;
    background-color: #fff;
  }
  .nav ul ul li a {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    margin-top: 8px;
    margin-bottom: 8px;
  }


  /*.logo { margin-top: 30px; }*/

  /*header.main {
    position: fixed; width: 100%; top: 0; background-color: #fff;
    transition: top 0.2s ease-in-out 0s;
  }*/
  header.main {
    width: 100%;
  }
  header.main {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  }
  .sidescroll .images li, .sidescroll .images li:last-child { margin: 0 5vw 3px 5vw; background: none; }
  .blog article { margin: 0 5vw 0 5vw; }
  .sidescroll .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .sidescroll .images img { height: auto; width: 100%; }

  .frontpage .content { -webkit-flex: 0 0 100%; flex: 0 0 100%; padding: 0 5vw 0 5vw; }
  .latest-posts a { width: 100%; }
  .latest-posts article { margin-left: 0; margin-right: 0; }
  .latest-posts article .preview-image { max-width: 100%; }
  .latest-posts article .post-preview-hidden {
    position: relative;
    opacity: 1;
    background: none;
    transition: opacity 0s ease 0s;
  }
  .latest-posts article .post-preview-header .category,
  .latest-posts article .post-preview-header .category:hover { margin-top: 20px; color: #928371; }
  .latest-posts article .post-preview-header h1,
  .latest-posts article .post-preview-header h1:hover { margin-bottom: 90px; color: #928371; }
  .latest-posts a:last-child > article .post-preview-header h1,
  .latest-posts a:last-child > article .post-preview-header h1:hover { margin-bottom: 0; }
  .latest-posts article .post-preview-header .more,
  .latest-posts article .post-preview-header .more:hover { display: none; }

  footer .content { -webkit-flex: 0 0 85vw; flex: 0 0 85vw; }
  footer .row {
    flex-direction: column;
    padding-top: 0;
  }
  footer aside { padding: 40px 0 40px 0; }
  footer aside:nth-child(2) { border-left: none; border-right: none; border-top: 1px dotted #e9e9e9; border-bottom: 1px dotted #e9e9e9; }
