.slick-slider {
  user-select: none;
  touch-action: pan-y;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-track {
  overflow: hidden;
}
.slick-track {
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
}
.slick-loading .slick-track,
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  display: none;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-prev,
.slick-next {
  display: block;
  position: absolute;
  padding: 0;
  border: none;
  font-family: 'fontello';
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  color: #b9b9b9;
  background: #fbfafa;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  top: 50%;
  transform-style: preserve-3d;
  perspective: 1000;
  transition: opacity 0.3s ease 0s;
  z-index: 99;
}
.slick-prev:focus,
.slick-next:focus {
  outline: none;
}
.slick-prev:hover,
.slick-next:hover {
  opacity: 0.5;
}
.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1;
}
.slick-prev:before,
.slick-next:before {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.75;
  font-size: 40px;
  line-height: 1;
  transform: translate(-51%, -44%);
  box-sizing: border-box;
  color: #b9b9b9;
}
.slick-prev {
  left: 25px;
}
.slick-prev:before {
  content: '\e838';
}
.slick-next {
  right: 25px;
}
.slick-next:before {
  content: '\e837';
}
