
@font-face {
  font-family: 'im-fell-french-canon-pro-regular';
  src: url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Roman.eot?#iefix') format('embedded-opentype'),
  		 url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Roman.svg#IM_FELL_French_Canon_PRO_Roman') format('svg'),
  		 url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Roman.otf')  format('opentype'),
  		 url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Roman.woff') format('woff'),
  		 url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Roman.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'im-fell-french-canon-pro-italic';
  src: url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Italic.eot?#iefix') format('embedded-opentype'),
  		 url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Italic.svg#IM_FELL_French_Canon_PRO_Italic') format('svg'),
  		 url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Italic.otf')  format('opentype'),
	     url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Italic.woff') format('woff'),
	     url('../fonts/im-fell-french-canon-pro/IM_FELL_French_Canon_PRO_Italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
