{% extends './layouts/main.njk' %}

{% block bodyClass %}index{% endblock %}

{% block content %}
<div class="main portfolio">
  <div class="content sidescroll">
    <ul class="images lazyload2">
      {% for item in gallery.images %}
        <li><img src="{{ gallery.imagesFolder }}{{ item }}" alt="{{ siteName }}"></li>
      {% else %}
        <p class="empty">No content</p>
      {% endfor %}
      <!-- access to parent's property with "../" -->
    </ul><!-- ul.images -->
  </div><!-- div.content.sidescroll -->
</div><!-- div.main.portfolio -->

<main class="frontpage">
  <div class="content">

    {% include './partials/welcome.njk' %}

    {% include './partials/latestPosts.njk' %}

  </div><!-- .content -->
</main><!-- main -->
{% endblock %}
