/////////////////////////////////////////////////////////////
// Flexbox
/////////////////////////////////////////////////////////////

// flex-wrap(no-wrap);
flex-wrap(val)
  -webkit-flex-wrap: val
  flex-wrap: val

// flex-direction(row);
flex-direction(val)
  -ms-flex-direction: val
  -webkit-flex-direction: val
  flex-direction: val

// align-items(center);
align-items(val)
  -webkit-align-items: val
  align-items: val

// justify-content: center;
justify-content()
  -webkit-justify-content: arguments
  justify-content: arguments

/////////////////////////////////////////////////////////////
// Transitions
/////////////////////////////////////////////////////////////

// transition(opacity 0.3s ease 0s);
transition(val)
  -o-transition: val
  -moz-transition: val
  -webkit-transition: val
  transition: val

// transform(translate(0, 100%));
transform(val)
  -o-transform: val
  -ms-transform: val
  -moz-transform: val
  -webkit-transform: val
  transform: val

// transform-style(preserve-3d);
transform-style(val)
  -o-transform-style: val
  -ms-transform-style: val
  -moz-transform-style: val
  -webkit-transform-style: val
  transform-style: val

/////////////////////////////////////////////////////////////
// Misc
/////////////////////////////////////////////////////////////

// box-shadow(none);
box-shadow(val)
  -webkit-box-shadow: val
  -moz-box-shadow: val
  box-shadow: val

// perspective(1000);
perspective(val)
  -o-perspective: val
  -ms-perspective: val
  -moz-perspective: val
  -webkit-perspective: val
  perspective: val

// box-sizing(border-box);
box-sizing(val)
  -o-box-sizing: val
  -ms-box-sizing: val
  -moz-box-sizing: val
  -webkit-box-sizing: val
  box-sizing: val

// user-select(none);
user-select(val)
  -ms-user-select: val
  -moz-user-select: val
  -webkit-user-select: val
  user-select: val

// touch-action(pan-y);
touch-action(val)
  -ms-touch-action: val
  touch-action: val
