/////////////////////////////////////////////////////////////
// Fonts
/////////////////////////////////////////////////////////////

$Georgia = Georgia, 'Times New Roman', Times, serif
$Helvetica = 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
$TrebuchetMS = 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
