/////////////////////////////////////////////////////////////
// Fonts
/////////////////////////////////////////////////////////////

$Georgia = Georgia, 'Times New Roman', Times, serif
$Helvetica = 'Helvetica Neue', Helvetica, Tahoma, Geneva, Arial, 'Lucida Grande', sans-serif
$TrebuchetMS = 'Trebuchet MS', Tahoma, $Helvetica
