/////////////////////////////////////////////////////////////
// Stylus
/////////////////////////////////////////////////////////////

@import 'stylus/mixins.styl'
@import 'stylus/variables.styl'

/////////////////////////////////////////////////////////////
// Modules - CSS RESET
/////////////////////////////////////////////////////////////

@import 'modules/reset.styl'

/////////////////////////////////////////////////////////////
// Modules - @font-face
/////////////////////////////////////////////////////////////

@import 'modules/fonts.styl'

/////////////////////////////////////////////////////////////
// Modules - Base styles: opinionated defaults
/////////////////////////////////////////////////////////////

// https://css-tricks.com/rems-ems/

html
  font-size: 1em
  //font-size: 14px
  color: #000
  //line-height: 1.4em
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

body
  font-family: $Georgia
  color: #464444
  //letter-spacing: 0.1em
  //font-stretch: normal

h1
  font-size: 2.0em // 28px
h2
  font-size: 1.5em // 21px
h3
  font-size: 1.17em // 16,38px
h4
  font-size: 1.33em // 18,62px
h5
  font-size: 0.83em // 11,62px
h6
  font-size: 0.67em // 9,38px

p
  font-size: 14px
  line-height: 1.6em
  margin-bottom: 1.25em

a
  text-decoration: none
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
  //font-style: italic
  //color: #d2a679
  //color: #ccc
  //color: #a6a6a6
  //color: #d49227
  color: #3f3f3f
  &:hover,
  &:focus
    //transition: <property> <duration> <timing-function> <delay>
    transition: color 0.3s ease 0s
    //color: #7f7f7f; color: #6b6b6b
    //color: #d3b88d
    color: #6b6b6b

li
  list-style: none

*
  box-sizing: border-box
  &::after,
  &::before
    box-sizing: border-box
  &:focus
    outline: 0

/////////////////////////////////////////////////////////////
// Modules - Common styles
/////////////////////////////////////////////////////////////

// Turns off Subpixel font rendering in Chrome with Slick Slider!!!
.container
  displayFlex()
  flex-direction: column
  //align-items: center // Centering hack for blog, but needs to turn on slick slider

.error,
.blog,
.contact
  displayFlex()
  flex-direction: column
  align-items: center

.pipe
  padding: 0 3px 0 3px

.aligncenter
  clear: both
  display: block
  margin: 0 auto 3px auto

/////////////////////////////////////////////////////////////
// Partials - Lazyload
/////////////////////////////////////////////////////////////

.lazyload
  //display: none
  visibility: hidden
  overflow-y: hidden
  height: 60vh
  opacity: 0

.sidescroll
  .images
    transition: opacity 0.5s ease 0s

/////////////////////////////////////////////////////////////
// Partials - Header
/////////////////////////////////////////////////////////////

.lang-selector
  position: absolute
  top: 0
  right: 0
  z-index: 9999
  margin: 10px 10px 0 0
  font-family: $TrebuchetMS
  font-size: 9px
  letter-spacing: 1px
  color: #494949
  color: rgba(0,0,0,0.71)

header
  displayFlex()
  flex: 0 0 auto
  justify-content: center
.header-site
  flex-direction: row
  align-items: flex-end
  .content
    displayFlex()
    flex: 0 0 50vw
    flex-direction: column
    align-items: center
    //justify-content: space-between
    .logo
      margin: 40px 30px 40px 30px
      max-width: 300px
      height: 97px
      a
        img
          width: 100%
          height: 100%
.header-blog
  flex-direction: column
  align-items: center
  time
    /*margin-top: 15px*/

@media screen and (-webkit-min-device-pixel-ratio: 0)
  .header-site
    .content
      .logo
        height: auto

@media (min-width: $mobile)
  .logo-header
    display: block // Logo TOP OF nav
  .logo-nav
    display: none // Logo INSIDE nav

@media (max-width: $mobile)
  .header-site
    .content
      flex: 0 0 100%
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1)
    .logo
      margin: 30px
    .logo-nav
      display: none

/////////////////////////////////////////////////////////////
// Partials - Navigation
/////////////////////////////////////////////////////////////

.navigation
  displayFlex()
  flex-direction: row
  align-items: center
  justify-content: center
  font-family: $TrebuchetMS
  letter-spacing: 2px
  font-size: 12px
.nav
  //margin-bottom: 40px
  ul
    displayFlex()
    flex-direction: row
    align-items: center
    li
      margin: 0 20px 0 20px;
      &:hover > ul
        visibility: visible
        opacity: 1
      &.active > a
        //color: #575757;
        //border-bottom: 3px solid #eff0f0;
        //margin-bottom: -3px;
      &.parent > a
        margin-right: 10px
      &.parent > a::after
        //display: inline-block
        display: block
        float: right
        //content: ' \27E9'
        //content: ' \276D'
        //content: ' \29FD'
        content: ' \276F'
        color: #000
        transform: rotate(90deg) translateX(2px) translateY(-10px)
      a
        display: block
        text-align: center
        padding: 5px 0 5px 0
        color: #727272
        &:hover
          text-decoration: underline
          color: #000
      ul
        flex-direction: column
        visibility: hidden
        opacity: 0
        position: absolute
        margin-left: -10px
        padding: 0
        z-index: 9999
        //background-color: #fff
        //box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05)
        background-color: #f9f9f9
        li
          margin: 0
          width: 100%
          &:first-child
            margin-top: 5px
          &:last-child
            margin-bottom: 3px
          a
            text-align: left
            padding: 0
            margin: 10px 20px 10px 20px

@media (min-width: $mobile)
  .toggle-mobile-nav
    display: none
  .navigation
    //margin-bottom: 60px // Logo TOP OF nav
    margin-bottom: 30px // Logo TOP OF nav
  .nav
    &.active
      display: none

@media (max-width: $mobile)
  .nav-left,
  .lang-en-EN .nav-left
    margin-left: 0
  .nav-left
    margin-top: 10px
    margin-bottom: 0
  .nav-right
    margin-bottom: 30px
  .toggle-mobile-nav
    margin-bottom: 10px
    .menu-button
      font-family: 'TrajanPro-Bold', $Georgia
      color: #000
      text-decoration: none
      text-transform: uppercase
      font-size: 1em
      &:hover
        cursor: pointer
      span
        font-size: 2em
        vertical-align: -0.15em
  .navigation
    flex-direction: column;
    font-family: $Georgia;
    font-size: 0.78em;
    letter-spacing: 0.15em;
    color: #000;
  .nav
    display: none;
    &.active
      display: block
    ul
      flex-direction: column
      li
        margin: 0
        &.parent > a
          margin-right: 0
        &.parent > a::after
          transform: rotate(90deg) translateX(-1px) translateY(15px)
        a
          padding-top: 18px
          padding-bottom: 18px
        ul
          flex-direction: column
          visibility: visible
          opacity: 1
          position: relative
          margin-left: 0
          padding: 0
          box-shadow: none
          transition: all 0s ease 0s
          background-color: #fff
          li
            a
              text-align: center
              font-size: 0.9em
              color: #777
              margin-top: 8px
              margin-bottom: 8px

/////////////////////////////////////////////////////////////
// Partials - Portfolio
/////////////////////////////////////////////////////////////

.sidescroll
  //margin: 0 20px 0 20px
  .images
    displayFlex()
    flex-direction: row
    //justify-content: center
    //flex-wrap: no-wrap
    //position: relative
    overflow-x: hidden
    li
      margin-right: 2px
      background-color: #c3c3c3
      &:last-child
        margin-right: 0
    img
      height: 60vh

@media (max-width: $mobile)
  .sidescroll
    .images
      display: flex
      flex-direction: column
      justify-content: center
      position: relative
      li,
      li:last-child
        margin: 0 5vw 3px 5vw
        background: none
      img
        height: auto
        width: 100%

/////////////////////////////////////////////////////////////
// Pages - Home
/////////////////////////////////////////////////////////////

.frontpage 
  displayFlex()
  flex-direction: row
  align-items: flex-start
  justify-content: center
  margin: 55px 0 0 0
  .content
    displayFlex()
    flex: 0 0 58vw
    flex-direction: column
    align-items: center
    justify-content: center
    //width: 50vw;
    //max-width: 1100px
    //max-width: 980px
    //height: auto
    margin: 0 5vw 0 5vw
  article
    p
      text-align: center
      font-family: 'QuicksandPro-Regular', 'Crimson-Text-Roman', $Georgia
      //font-size: 12px
      font-size: 14px
      //color: #606060;
      line-height: 1.8em
      margin-bottom: 15px
      font-weight: 400
      letter-spacing: normal

@media (max-width: $mobile)
  .frontpage
    .content
      flex: 0 0 100%
      padding: 0 5vw 0 5vw

/////////////////////////////////////////////////////////////
// Partials - Welcome
/////////////////////////////////////////////////////////////

article.welcome
  max-width: 980px

/////////////////////////////////////////////////////////////
// Partials - Latest Posts
/////////////////////////////////////////////////////////////

// https://dylanmhowell.com
// Crop images: http://codepen.io/KristinB/pen/tdKvL

.latest-posts-title
  margin: 45px 0 0 0
  .widget-title
    margin-bottom: 40px;
    //font-family: 'Montserrat-Regular', Georgia, 'Times New Roman', Times, serif;
    //font-size: 13px;
    &::after
      display: none

.latest-posts 
  displayFlex()
  flex-direction: row
  align-items: center
  justify-content: center
  flex-wrap: wrap
  margin: 0 0 30px 0
  text-align: center
  //max-width: 1150px
  max-width: 980px
  a
    width: 33.3%
  article
    position: relative
    margin: 2px
    .preview-image
      width: 100%;
      height: auto
      //height: 259px
      object-fit: cover
      overflow: hidden
    .post-preview-hidden
      position: absolute
      opacity: 0
      top: 0
      left: 0
      right: 0
      bottom: 0
      //background-color: #fff
      background-color: rgba(80,76,73,.9)
      //background-color: rgba(70,70,70,.9)
      transition: opacity 0.3s ease 0s
      &:hover
        opacity: 1
      .post-preview-header
        displayFlex()
        flex-direction: column
        align-items: center
        justify-content: center
        height: 100%
    .post-preview-header
      .category,
      .category:hover
        color: #fff
        margin: 0 5px 0 5px
        //font-family: 'Garamond-Regular', 'LatoLatin-Regular', 'im-fell-french-canon-pro-italic', $Georgia
        font-family: 'Raleway-Light', sans-serif
        text-transform: uppercase
        font-size: 15.5px
        letter-spacing: 1.5px
        line-height: 15px
        margin-bottom: 30px
      h1,
      h1:hover
        //font-size: 0.9em; // 14px
        line-height: 1.4em
        font-family: 'TrajanPro-Regular', $Georgia
        text-transform: uppercase
        //color: #000
        color: #fff
        margin: 0 5px 1px 5px
        font-size: 20px
        letter-spacing: 0.9px
        font-style: italic
      .more,
      .more:hover
        font-family: 'Caslon-Pro-Italic', 'Crimson-Text-Italic', $Georgia
        font-size: 19px
        letter-spacing: 0.9px
        text-transform: lowercase
        color: #fff
        margin-top: 40px
      .more::after
        content: '\A\2192'
        //content: '\A\21FE'
        //content: '\A\21A3'
        margin: 0 0 10px 0
        white-space: pre
        word-wrap: break-word
        font-size: 25px

.drawing
  margin: 0 0 10px 0

@media (max-width: $mobile)
  .latest-posts
    a
      width: 100%
      &:last-child > article .post-preview-header h1,
      &:last-child > article .post-preview-header h1:hover
        margin-bottom: 0
    article
      margin-left: 0
      margin-right: 0
      .preview-image
        max-width: 100%
      .post-preview-hidden
        position: relative
        opacity: 1
        background: none
        transition: opacity 0s ease 0s
      .post-preview-header
        .category,
        .category:hover
          margin-top: 20px
          color: #928371
        h1,
        h1:hover
          margin-bottom: 90px
          color: #928371
        .more,
        .more:hover
          display: none

/////////////////////////////////////////////////////////////
// Partials - Footer
/////////////////////////////////////////////////////////////

footer
  displayFlex()
  flex-direction: row
  align-items: flex-start
  justify-content: center
  .content
    displayFlex()
    flex: 0 0 58vw
    flex-direction: column
    align-items: center
    justify-content: center
    //width: 50vw
    max-width: 1100px
    //height: auto
  .row
    displayFlex()
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 100%
    height: auto
    margin: 40px 0 0 0
    padding: 40px 0 40px 0
    border-top: 1px solid #e9e9e9
    //border-bottom: 1px solid #e9e9e9
  aside
    width: 100%
    text-align: center
    padding: 35px 0 35px 0
    &:nth-child(2)
      border-left: 1px dotted #e9e9e9
      border-right: 1px dotted #e9e9e9
    a
      font-family: 'im-fell-french-canon-pro-italic', $Georgia
      //font-size: 13px
      font-size: 0.93em
    p
      margin-bottom: 0
      text-transform: lowercase
  .social-links
    a
      margin-right: 20px
      font-size: 0.8em
      //color: #6b6b6b
      color: #727272
      &:last-child
        margin-right: 0

/* Social Icons styling */
[class^='icon-']:before,
[class*=' icon-']:before
  font-family: 'fontello'
  font-style: normal
  font-weight: normal
  speak: none
  display: inline-block
  text-decoration: inherit
  width: 1em
  margin-right: .2em
  text-align: center
  //opacity: .8
  font-variant: normal
  text-transform: none
  line-height: 1em
  margin-left: .2em
  //font-size: 120%
  //text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3)
  font-size: 90%
.icon-facebook:before
  content: '\e81f'
.icon-instagram:before
  content: '\e821'
.icon-pinterest:before
  content: '\e802'
.icon-vimeo:before
  content: '\e809'

// http://www.alt-codes.net/miscellaneous-symbols
// http://www.fileformat.info/info/unicode/char/1f682/index.htm
.site-copyright
  padding: 45px 0 45px 0
  margin-bottom: 0
  border-top: 1px solid #e9e9e9
  width: 100%
  text-align: center
  //color: #606060
  //font-size: 0.69em // 11px
  font-family: $TrebuchetMS
  line-height: 1.75em
  font-family: 'LatoLatin-Regular', $TrebuchetMS
  text-transform: uppercase
  font-size: 8px
  letter-spacing: 1px
  color: #494949
  color: rgba(0,0,0,0.71)
  //a:hover
  //  color: #529aa5

@media (max-width: $mobile)
  footer
    .content
      flex: 0 0 85vw
    .row
      flex-direction: column
      padding-top: 0
    aside
      padding: 40px 0 40px 0
      &:nth-child(2)
        border-left: none
        border-right: none
        border-top: 1px dotted #e9e9e9
        border-bottom: 1px dotted #e9e9e9

/////////////////////////////////////////////////////////////
// Partials - Titles
/////////////////////////////////////////////////////////////

/*
http://www.jennifermoher.com/
http://lightandlace.de/
http://dillonphommasa.com/
http://marinkovic-weddings.com/
*/

.widget-title-img
  display: block
  margin: 0 auto 20px auto

.widget-title
  //font-size: 13px
  font-size: 0.9em
  letter-spacing: 0.3em
  text-transform: uppercase
  margin-bottom: 20px
  font-family: 'LatoLatin-Regular', $Georgia
  clear: both
  text-align: center

.big-text
  font-family: 'Crimson-Text-Roman', $Georgia
  font-size: 1.75em // 28px
  letter-spacing: 0.2em // 4px
  text-transform: uppercase
  font-weight: bold
  font-style: italic
  color: #444
  clear: both
  text-align: center
  margin-bottom: 40px

.big-text-light
  font-family: 'LatoLatin-Light', $Georgia
  font-size: 1.25em // 20px
  letter-spacing: 0.2em // 4px
  text-transform: uppercase
  color: #444
  clear: both
  text-align: center
  margin-bottom: 40px

.widget-title::after
  content: ''
  display: block
  width: 44px
  height: 1px
  background: #e9e9e9
  margin: 18px auto 0 auto

/////////////////////////////////////////////////////////////
// Pages - Blog
/////////////////////////////////////////////////////////////

.blog
  article
    max-width: 600px
    img
      width: 100%
    .images
      displayFlex()
      flex-direction: column
      //li
      //  margin-bottom: 3px
    .tags
      .text
        float: left
        padding-right: 5px
      li
        float: left
      li + li::before
        content: ', '

  .pagination
    clear: both
    padding: 25px 0 120px 0
    text-align: center
    text-transform: lowercase
    font-size: 0.95em
    letter-spacing: 0.07em
    font-family: 'Monotype-Corsiva', 'Serlio-LH-regular', $Helvetica
    color: #777
    a:hover
      color: #ccc

@media (max-width: $mobile)
  .blog
    article
      margin: 0 5vw 0 5vw

/////////////////////////////////////////////////////////////
// Pages - Contact
/////////////////////////////////////////////////////////////

.contact
  align-items: center
  article
    max-width: 600px

/////////////////////////////////////////////////////////////
// Modules - Slick Slider
/////////////////////////////////////////////////////////////

@import 'modules/slick.styl'

/////////////////////////////////////////////////////////////
// Modules - IE Conditional styles
/////////////////////////////////////////////////////////////

//http://stackoverflow.com/questions/20541306/how-to-write-a-css-hack-for-ie-11

// IE 11+
_:-ms-fullscreen,
:root .logo
  width: 390px

// https://github.com/philipwalton/flexbugs
_:-ms-fullscreen,
:root footer .content
  box-sizing: border-box

// object-fit hack for IE 10+
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
   .latest-posts article .preview-image
      max-width: 364px

// Browser Upgrade Prompt - IE 9-
.browserupgrade
  display: block
  position: absolute
  z-index: 999999
  width: 100%
  height: 100%
  margin: 0
  padding: 50px 0 0 50px
  background: #999
  color: #000
  font-size: 1.5em
  text-align: center

/////////////////////////////////////////////////////////////
// Modules - Development
/////////////////////////////////////////////////////////////

/**:hover
  box-shadow: inset 0 0 0 1px #f00
*/
